@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.user-menu:hover .user-submenu {
    visibility: visible;
    opacity: 1;
}

.user-submenu {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.okay-narsa {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.wtf {
    text-shadow: 2px 2px 4px #000000;
}

select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    /* background-color: #fafafa;
    height: 45px;
    width: 100%; */
    background-size: 24px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: calc(100% - 2px) center;
    background-image: url("/images/icons/arrow-down.svg");
    /* background-position: 100%;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 0; */
}


@layer base {
    html {
      font-family: 'Quicksand', 'Arial', 'Courier New', Courier, monospace, system-ui, sans-serif;
    }
}

